// About us section

section.about


	.container

		.section-title.section-title--white
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 263.74 263.74"><path d="M131.87,0A131.87,131.87,0,1,0,263.74,131.87,131.87,131.87,0,0,0,131.87,0Zm62.94,167.73,8.5,10.46-42.22,8.09s-6.09.85-4.23,5.83c1,2.58,5.74,13.35,10.15,23.19l-3.44,1.29-3.45,1.29c-3.12-10.33-6.56-21.6-7.52-24.16-1.86-5-7-1.63-7-1.63l-37.2,21.54L108,200.14s-0.47-5.61-5.48-6.71L50.67,174.71s12.14-4.11,3.08-15L37.69,138.28,63,137.14A3.54,3.54,0,0,0,66.37,134c0.33-3,.46-16.55.46-16.55l33,15.68s4.18,1.75,1.42-5.1-27.9-47-27.9-47L89,84.71s5.5,2.51,6.94-3.62S99.37,45,99.37,45l0.27,0.27c2.44,2.43,21.46,21.21,26.24,24.67,5.11,3.69,7.62-1.8,7.62-1.8l9.44-13.06s7.31,46.83,9.7,53.81,4.41,2.92,4.41,2.92l14.67-33.47s9,10.14,11.19,12.2a3.55,3.55,0,0,0,4.62.14L207.37,75l1.87,26.66c0.32,14.2,12.2,9.34,12.2,9.34l-26.88,48.08C191.5,163.2,194.81,167.73,194.81,167.73Z"/></svg>
			h2 Get to know us

		.about_items
			.about_item
				img(src="assets/svg/icon-maple-contur.svg", alt="")
				h3 Who We Are
				p ItsCanadaTime is a company that focuses on helping clients from all over the globe start their process towards immigrating to Canada in the easiest and quickest way while getting feedback for the process.
			.about_item
				img(src="assets/svg/icon-maple-contur.svg", alt="")
				h3 What We Do
				p We offer a wide array of programs and services, starting from the online assessment and going as far as making sure the client has received their visas as quickly as possible and with the least effort.
			.about_item
				img(src="assets/svg/icon-maple-contur.svg", alt="")
				h3 How We Work
				p We have a wholesome group of immigration lawyers contacting clientthat reach to us. We offer our services from online, without the need to travel far – yet still get the best results. Make sure to visit our Contacts page!
			.about_item
				img(src="assets/svg/icon-maple-contur.svg", alt="")
				h3 Remote Control Help
				p We will help you when you are having trouble connecting to the services we offer, by offering a technical support service that works via a remote desktop that is accessed to by your permission only. We Will walk you through the whole issue until it is resolved!
			.about_item
				img(src="assets/svg/icon-maple-contur.svg", alt="")
				h3 Personalized Support
				p If you are confused with any issue, from how to fill the Assessment to remembering what is relevant and what is not - We will redirect you to the Authorized Representative handling your case and they will guide you through any process and answer all questions you might have!
			.about_item
				img(src="assets/svg/icon-maple-contur.svg", alt="")
				h3 Available For You
				p Any pressing matter that you might have will be answered in the shortest period of time – we are here for you and our customer support team works around the clock, ensuring our clients’ get the quickest and best answers to any inquiry they might have!
