### Dependency directory ###
node_modules


### PSD and JPG tamplates ###
PSD
*.psd
*.jpg
*.jpeg

### Sass ###
.sass-cache
*.css.map

### Bower ###
bower_components
app/libs
.bower-cache
.bower-registry
.bower-tmp

### Build result ###
dist