/********** Main Styles **********/

.wrapper
	position: relative
	overflow: hidden
	min-width: 320px
	max-width: $large
	margin: auto
	color: $main
	font-family: 'OpenSans', sans-serif

svg
	font-size: 3rem
	height: 1em
	width: 1em
	fill: inherit
	stroke: inherit

a, a:hover, a:focus, a:visited, input[type=submit], button
	text-decoration: none
	color: $main
	transition: all 0.3s







