extends ../blocks/layout

block head
	- var pageTitle = 'Landing Page Canada';

block content
	.wrapper
		include ../blocks/header/header
		include ../blocks/services/services
		include ../blocks/about/about
		include ../blocks/footer/footer

