// Services section
section.services

	.container

		.section-title
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 263.74 263.74"><path d="M131.87,0A131.87,131.87,0,1,0,263.74,131.87,131.87,131.87,0,0,0,131.87,0Zm62.94,167.73,8.5,10.46-42.22,8.09s-6.09.85-4.23,5.83c1,2.58,5.74,13.35,10.15,23.19l-3.44,1.29-3.45,1.29c-3.12-10.33-6.56-21.6-7.52-24.16-1.86-5-7-1.63-7-1.63l-37.2,21.54L108,200.14s-0.47-5.61-5.48-6.71L50.67,174.71s12.14-4.11,3.08-15L37.69,138.28,63,137.14A3.54,3.54,0,0,0,66.37,134c0.33-3,.46-16.55.46-16.55l33,15.68s4.18,1.75,1.42-5.1-27.9-47-27.9-47L89,84.71s5.5,2.51,6.94-3.62S99.37,45,99.37,45l0.27,0.27c2.44,2.43,21.46,21.21,26.24,24.67,5.11,3.69,7.62-1.8,7.62-1.8l9.44-13.06s7.31,46.83,9.7,53.81,4.41,2.92,4.41,2.92l14.67-33.47s9,10.14,11.19,12.2a3.55,3.55,0,0,0,4.62.14L207.37,75l1.87,26.66c0.32,14.2,12.2,9.34,12.2,9.34l-26.88,48.08C191.5,163.2,194.81,167.73,194.81,167.73Z" /></svg>
			h2 Our Immigration Services

		ul
			li
				img(src="assets/svg/icon-document.svg", alt="").icon-document
				h4 Document Verification
				p Our legal team are experts in confirming and processing our clients’ paperwork according to the Canadian government’s requirements to the fullest, making sure no document is missing.
			li
				img(src="assets/svg/icon-letter.svg", alt="").icon-letter
				h4 Editing of Resume and Cover Letter
				p We offer a service for editing the client’s resume, polishing out the grammar and emphasize relevant skills and then we offer a phone conversation with the Editor, who gives you tips about writing your cover letter.
			li
				img(src="assets/svg/icon-course.svg", alt="").icon-course
				h4 IELTS preparation course
				p We provide our clients with preparation for the IELTS exam with the guidance of an instructor, workbooks and lesson CDs. Additionally we will help you locate the nearest testing center and schedule the exam on your behalf.
			li
				img(src="assets/svg/icon-security.svg", alt="").icon-security
				h4 Security and Privacy
				p The Company commits to keep all of our clients’ documents and personal information enclosed inside of our servers and erased when the process is done. We assure you that nothing exits our systems without your full consent.
