// Header section
header.header
	.container
		.header_topline
			.header_logo
				img(src="assets/svg/header-logo.svg", alt="")
			.header_lang
				.header_lang--wrap
					a.lang(href="")
						img(src="assets/svg/french-flag.svg", alt="")
						span français

		.header_content

			.header_info
				h1 <span>Start your</span> Immigration process <span>today!</span>
				p It’s time to think about a better future for you and your family. <br>Come and see if you are illegible to start. We can help.
				nav.header_nav
					a.services_link(href="") Our services
					a.about_link(href="") More about us

			.header_form
				form(action="")
					h3 Fill this form
					h4 and come a step closer!
					p
						span
							input(type="text", placeholder="Name")
						span
							input(type="tel", placeholder="Phone")
						span
							input(type="email", placeholder="Email")
						span
							input(type="text", placeholder="Country of residence")
						input(type="submit", value="Start now")
				.header_form--spot






