// Footer and fixed form

footer.footer
	.footer-form
		.container
			form(action="")
				p
					span
						input(type="text", placeholder="Name")
					span
						input(type="tel", placeholder="Phone")
					span
						input(type="email", placeholder="Email")
					span
						input(type="text", placeholder="Country of residence")
					input(type="submit", value="Start now")

